<!DOCTYPE html>
<html>
<head>
  <title>RailsTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Home Library Management", '#', id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home",   '#' %></li>
                <li><%= link_to "Help",   '#' %></li>
                <li><%= link_to "Log in", '#' %></li>
            </ul>
        </nav>
    </div>
</header>

<div id="main-container" class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: "alert alert-#{name}" %>
            <% end -%>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <%= yield %>
        </div>
    </div>
</div>

<footer class="footer">
    <small>
        The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
    </nav>
</footer>

</body>
</html>
